.elementsbg {
	background: #fff; 
}


/* Page Elements */

div.orbit-wrapper {
	margin-top: 25px;	
}

.slider_content {
	background: #3c3c3c url(../images/sliderbg.png);
}
#orbitDemo.orbit > a {
  width: 100%;
}

.content_title {font-size: 20px; color: #FFF;}

.content_text {font-size: 16px; color: #FFF;}

.slider_nav {
	width: 99.8%;
	
	margin: auto;
	margin-bottom: 10px;
}

#sliderbg, #productbg {
		border-bottom: 1px solid #E1E1E1;
		background: #bbb url(../images/sliderbg.png);
}

/*============================*/
/*===== Callout Section ======*/
/*============================*/

.calloutbg {
		background: #eaeaea url(../images/calloutbg.png);
		min-height: 80px;
		border-bottom: 1px solid #e1e1e1;
}

#calloutwrap {
	min-height: 80px;
	overflow: hidden;
	position:relative;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px dotted #ccc;
	background: #fff;
	border-radius: 2px;
}

#callout_text {
	font-size: 20px;
	font-weight: 400;
	color: #444;
	padding: 25px 0px 20px 0px;
}


#callout_text a {text-decoration: underline;}

#calloutbutton {
	padding: 10px 5px 10px 5px;
	margin-top: 28px;
	background: #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-align: center;
	position: relative;
	
}

#calloutimg{
	padding-top: 10px;
	
	float:right;
}

.callout_link {text-align: center; margin-bottom: 0px;}

#calloutbutton:hover{
	background: #222;
}

#calloutbutton a{
	color: #fff;
	font-size: 18px;
	font-weight: 800;
}

/*============================*/
/*====== Bread Crumbs ========*/
/*============================*/

#crumbs {border: 1px solid #DDD;margin-bottom:15px;margin-top:15px;background:#FFF;}

.crumbs_text {padding: 1px 5px 5px 15px;}

/*============================*/
/*===== Widgitized Boxes =====*/
/*============================*/

.boxes {margin-top:20px;margin-bottom:20px;}

#box_container {
	min-height: 240px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#box_container ul {
	list-style: none;
}

.boximg {
	margin: auto;
	margin-bottom: 15px;
}

.boxtext {
	text-align: left;
	color: #444;
	margin-bottom: 15px;
	font-size: 14px;
}

.box-widget-title {
	color: #222;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 15px;
}

#box1 {
	min-height: 180px;
	color: #222;
}

#box2 {
	min-height: 180px;
	color: #222;
}

#box3 {
	min-height: 180px;
	color: #222;
}

#box4 {
	min-height: 180px;
	color: #222;
}

.boxes ul { padding-left: 15px; }
