/* Business lite 3 Style.css */

/* Reset and Design Constant Styles */

body {color:#222;background-color: #FFF;}
*, html, body{padding:0;border:0;margin:0;}
body, div, p, input, textarea{font-size:14px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
p{margin: 0 0 10px 0;clear: both;}
a{color:#555;text-decoration:none}
a:hover{text-decoration:none}
#wrapper input, textarea{color:#666;border:#ccc 1px solid;border-radius:2px;-moz-border-radius: 2px;}
input[type=submit]{cursor:pointer;}
input {border: 1px solid #ccc;}
input[type=submit]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
input[type=reset]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
a img{border:none}
a{outline:none}
.clear {clear:both;}
table {width: 100px!important}

.entry.nine.columns {
	margin-left: 1.4%;
	float:left;
	width: 77.1%;
}

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
margin-bottom: 15px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

#image_pagination {border: 1px solid #DDD; margin-bottom: 15px; background: #FFF; display: block;}

.image_wrap {padding: 10px 15px 5px 15px; height: 105px;}

.previous_image {float: left;}

.next_image {float: right;}


#register {text-align: right; list-style: none;}

#register li {float: right; display: block; padding-left: 5px;}

#sidebar.four.columns {margin-left: 2%; width: 30.7%;}
#sidebar_left.four.columns {margin-right: 2%; width: 30.7%;}
#content.eight.columns {width: 65.4%; margin-left: 0%;}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 15px;
}

#content {
	margin-top: 40px;
}

/* Fonts  */

.meta {color: #ccc;font-size: 12px;font-weight: 500;padding-bottom: 10px;margin-top: 4px;}

.meta a{color: #888;text-decoration:none;}

.meta a:hover{color: #aaa;}

.metadate {background: url(../images/icons/cal.png) no-repeat left center;padding-left: 25px;padding-top:2px;}

.metaauthor {background: url(../images/icons/author.png) no-repeat left center;padding-left: 25px;padding-top:3px;}

.metacomments {background: url(../images/icons/comments.png) no-repeat left center;padding-left: 25px;padding-top:1px;}

.metacat {background: url(../images/icons/cat.png) no-repeat left top;padding-left: 25px;padding-top:2px;}

.metatags {background: url(../images/icons/tags.png) no-repeat left top;padding-left: 25px;padding-top:2px;}

.entry {}

.entry p {clear: none;}

.error {font-size:28px; text-align:center; }

a:hover {color: #5ca9d6;}

/* Header  */

#subheader {
	background:url(../images/subheaderdark.png);
}

#header_contact{ text-align:right;}

#logo {margin-bottom: 5px;margin-top:18px;line-height: 40px;}

#banner {margin-bottom: 10px;}

/* Nav  */
#nav {
    float: right;
    margin-top: 25px;
    position: relative;
}
#nav ul {
	list-style: none;
	margin: 0;
}
#nav li {
	position: relative;
}
#nav li a {
	display: block;
	padding: 5px 10px;
	font-weight: 400;
	text-decoration:none;
}
#nav_menu > li {
    padding: 0 0 10px 0;
    float: left;
    margin: 0 7px 10px 0;
}
#nav #nav_menu > li > .sub-menu {
    display: none;
	background-color: #FFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0 1px 1px 0 #eee;
    margin: 20px 0 0;
    padding: 8px 0 0;
    position: absolute;
    left: 0;
    top: 20px;
    float: left;
    width: 180px;
    z-index: 9999;
}
#nav #nav_menu > li > .sub-menu .nav_arrow {
    background: url(../images/nav_arrow.png);
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
}

#nav #nav_menu > li > .children {
    display: none;
	background-color: #FFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0 1px 1px 0 #eee;
    margin: 20px 0 0;
    padding: 8px 0 0;
    position: absolute;
    left: 0;
    top: 20px;
    float: left;
    width: 180px;
    z-index: 9999;
}
#nav #nav_menu > li > .children .nav_arrow {
    background: url(../images/nav_arrow.png);
    height: 11px;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 14px;
}

#nav #nav_menu > li > a {
	background: #FBFBFB;
	background: -moz-linear-gradient(center top , #FBFBFB 0%, #E4E5E5 100%) repeat scroll 0 0 transparent;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #555555;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #AAAAAA;
    cursor: pointer;
    padding: 5px;
    position: relative;
}
#nav #nav_menu > li:hover > a {
	background: #F8F8F8;
    border: 1px solid #666666;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#nav #nav_menu li:hover > ul {
	display: block;
}
#nav ul ul > a {
	color: #555555;
}
#nav ul ul a:hover {
	background-color: #666666;
    color: #FFFFFF;
}
#nav .parent-menu {
	background: url(../images/down-menu-arrow.png) no-repeat right center;
}
#nav .parent-menu:hover {
	background: #666666 url(../images/down-menu-arrow-hover.png) no-repeat right center;
}
#nav ul ul ul a {
	background: url(../images/indent-menu-arrow.png) no-repeat left center;
}
#nav ul ul ul a:hover {
	background: #666666 url(../images/indent-menu-arrow-hover.png) no-repeat left center;
}
#nav ul ul ul a {
	text-indent: 10px;
}
#nav ul ul ul ul a {
	text-indent: 20px;
}
#nav ul ul ul ul ul a {
	text-indent: 30px;
}


/* Social Icons  */

#social {margin-bottom: 0px;}

.icons {text-align:right;margin-top: 10px;}

.icons a img {opacity:1; padding-left: 3px;}

.icons a:hover img {opacity:.6;}

/* Home Button */

#home {float: left;border-right:#777 1px solid;margin-right:4px;margin-left:24px;}
#home a:hover{opacity: .5}
#nohome {float: left; margin-right:4px;margin-left:5px; height: 35px;}

/* Search Bar */

.searchform {
  position: relative;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #CCCCCC;
	width: 160px;
	padding: 0;
	height: 20px;
	background: #fff;
}

.center .searchform {float:none;}

#morefoot .searchform {float:left;}

.searchform .s{
	margin:0;
	border: none;
	margin: 3px 2px 2px 20px;
	font-size: 12px;
	height: 14px;
	width:	130px;
	color: #333;
	overflow: hidden;
}

#magnify {float:left;position:absolute;margin: 2px 0 0 5px;}

#magnify {margin: 2px 0 0 5px\0/IE8+9; /* IE8+9  */}

.searchform .s:focus {outline:0; border:none;}

.searchform .searchsubmit {display:none;}

/* Post Container Styling  */

.post_container {
	background: #fff;
	margin-bottom: 40px;
}

.post_container ul {list-style: disc;margin-left: 21px;list-style-position: inside;}

.postformats {
	float:right;
	background: #555;
	height: 23px;
	width: 25px;
	border: 1px solid #555;
	margin-top: 7px;
	border-radius: 2px;
}

#comments {padding-top: 3px;font-size: 12px;}

#share {text-align:left;float:left;padding-top: 3px;}

.share a img {opacity:.8;}

.share a:hover img {opacity:1;}

.next-posts-single {text-align:right;padding:5px; margin-top:-35px;}

.prev-posts-single {text-align:left;padding:5px; margin-top: -10px; margin-bottom: 5px; margin-left: -5px; max-width:300px;}

.tags {margin-bottom: 15px;font-size: 12px;}

#fb {width: 440px; margin-bottom: 5px;}

.gplusone {margin-bottom: 10px;}

.post-edit-link {background-color: #757575;padding: 2px 3px;color: white;font-size: 10px;border-radius: 3px;-moz-border-radius: 3px;}

.meta ul{list-style: none;margin-left:0px;}

.more-link a{
	color: #000;
}

.more-link a:hover{
	color: #555;
}

/* Posts Navigation */

.next-posts {float: left;padding: 5px 0 5px 0; }

.prev-posts { float: right;padding: 5px 0 5px 0; }

.pagnext-posts {float: left;padding: 5px;margin-bottom: 10px;}

.pagprev-posts { float: right;padding: 5px;margin-bottom: 10px; }

/* HTML styling  */

dt {font-weight: bold; margin-top: 5px; margin-bottom: 5px; margin-left: 26px; }

dd {margin-bottom: 15px; margin-left: 26px; }

ul, ol { margin: 0 0 10px 0; }

th {padding-right: 20px; padding-bottom: 10px;}

td {border-top: 1px solid #DDD;padding: 6px 6px 6px 0;}

table {border-bottom: 1px solid #DDD;}

pre {margin-left: 20px;}

ol, ul {list-style-position: inside;margin-left: 21px;}

/* Sidebar  */

.widget-container {
	color: #222;
	font-size: 13px;
	margin-bottom: 40px;
	background: #fff;
}

.widget-container li {list-style: none;list-style-type:circle;list-style-position: inside;}

.textwidget {padding-top: 10px;}

#sidebar, #sidebar_left, #sidebar_right {margin-top: 40px;}

#sidebar .widget-container td {padding-right: 15px;}

#sidebar .widget-container th {padding-right: 30px}

#sidebar240 .widget-container td {padding-right: 1px;}

#sidebar240 .widget-container th {padding-right: 18px}

.widget-title{font-size:16px;font-weight:600;color:#555;padding-bottom: 2px;}
.widget-container ul{margin-left: 0px;}

/* Blog and Post Styles */

.post{}
.entry-title{margin-bottom:2px}
.single .entry-title{text-align:left;line-height:30px;margin-top:12px;margin-bottom:10px}
.entry-title a{font-size:22px}
.nav-previous{text-align:left}
.nav-next{text-align:right}
.entry-meta, .entry-utility, .entry-meta a, .entry-utility a{font-size:12px}
.entry-meta, .entry-utility{color:#888}
.comment, .trackback, .pingback{padding:10px;margin:10px 0 10px 0}
.odd{background:#f8f8f8}
#form-allowed-tags code{font-size:12px}
#respond input, #respond textarea{margin:0 5px 5px 0;overflow:auto}
#respond textarea{width:99%;height:150px}
.avatar{float:left}

/* Footer  */

#footer {
	background:url(../images/footer.png);
	border-top: 4px solid #2E2F30;
}

.footer-widgets {
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
}

.footer-widget-title {
	font-size:18px;color:#fff;font-weight: 400;
}

.footer-widgets ul{padding:5px 0px 5px 0px; margin-left: 0px;}

.footer-widgets li{
	list-style-type: none;
	padding-left: 0;
	color: #ccc;
}

.footer-widgets li a{
	color: #ccc;
}

.footer-widgets li a:hover{
	color: #eee;
}


.footer-item ul {
	padding-left: 15px;
}

#afterfooter {
	width: 100%; 
	background: #222; 
	color: white;
}

#afterfooterwrap {
	margin: auto;
	padding-top: 10px;
}

#afterfootercopyright {
	text-align: right;
}

#afterfootermenu {
	float:left;
	
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

#afterfootermenu a {
	color: #F5F5F5;
}

#afterfootermenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
}

#afterfootermenu li {
	display: inline; 
}

#credit {z-index: 99;text-align: left; margin-bottom:8px;}

/* WordPress Styles  */

.featured-image {margin-bottom: 25px;}

.alignnone {
	display: block;
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.size-full {
	max-width: 100%;
	height: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 15px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 95%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

blockquote { 
	background-color: #eee;
	margin: 10px;
	padding: 3px;
	border-left: none;
	color: #222;
}

blockquote p {margin: 10px; }

.sticky { }

.gallery-caption { }

/* Lists */

li {  }

/* Comments  */

.comments_container {
	background: #fff;
	margin-bottom: 15px;
	border-top: 1px dotted #ccc;
	padding-top: 15px;
}

.commentsh2{
	font-size: 20px;
	font-weight: bold;
}



#comments .navigation { padding: 0 0 18px 0; }

label[for="comment"] {display: block;}

/* Comment lists  */

ol.commentlist { list-style: none; }
ol.commentlist p { margin-left: 8px; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { margin: 0 10px 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 11px; }
ol.commentlist li.comment div.comment-meta a { color: #888; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; margin-left: 8px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fafafa;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.odd { background: #fff;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form { }

textarea {margin-top: 10px;padding-bottom: 10px;width: 90%;}

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

/* Custom Font Styles */

.posts_title a{
	text-decoration: none;
	font-weight: 600;
	margin-bottom: 10px;
}

h1.description, h1.sitename {margin-bottom: 0px;}

.description {	
	font-size: 11px;
	margin-top:12px;
	color: #eee;
	font-weight: bold;
}

.sitename {
	font-size: 34px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 40px;
}

.sitename a{text-decoration: none;}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {

}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
}

/* Responsive CSS */

@media handheld, only screen and (max-width: 1024px) {
div.slider-nav span.right {right: 5px !important;}
div.slider-nav span.left {margin-left: 5px !important;}
div.slider-nav span {top: 45%;}
}

@media handheld, only screen and (max-width: 767px) {

	#box1, #box2 {margin-right: 0px !important;} 
	.searchform {display: none;}
    #nav ul ul li:hover ul, #nav ul ul ul li:hover ul {margin: 0px !important;}
    #nav ul ul .parent > a, #nav ul ul .parent:hover > a:hover, #nav ul ul li:hover ul .parent > a, #nav ul ul li:hover ul .parent > a:hover{background-image:url(../images/arrow.png) !important;background-position:right !important;background-repeat:no-repeat !important;}
    .carousel_caption {font-size: 10px;}
    .callout_title {text-align: center;}
    #calloutbutton {width: 200px; margin: auto; margin-bottom: 30px;}
    #banner {margin-top: 10px;}
    div.slider-nav span.right {
    right: 0px; }
	div.slider-nav span.left {
    margin-left: 0px; }
    .meta ul li {display: inline; margin-right:15px;}
    #product_media.six.columns {margin-left: 0%; float: none;}
    #image_container.six.columns {float: none !important;}
    #text_container {margin-bottom: 20px;}
    .entry.nine.columns, .byline.three.columns {width: 100% !important; margin-left: 0% !important;}
    #sidebar.four.columns {float: left;} 
}

@media handheld, only screen and (max-width: 500px) {
	#mobileMenu_nav_menu {margin-top: 10px; margin-right: 10px; text-align:center;}
	#halfnav {text-align: center; float: none;}
}

@media handheld, only screen and (max-width: 400px) {
	#box1 {margin-top:0px;margin-bottom:7px;}
	#box2 {margin-top:7px;margin-bottom:7px;}
	#box3 {margin-top:7px;margin-bottom:7px;}
  #box3 {margin-top:7px;margin-bottom:14px;}
	.carousel_caption {font-size: 6px;}
	.icons{text-align: center;}
	#logo{text-align:center;}
	.sitename {text-align:center;}
	#register {text-align: center;}
	.description{text-align: center;}
	#header_contact {text-align: center;}
	#halfnav {text-align: center; float: none;}
	#afterfootermenu {display:none;}
	#credit {float:left;margin-left:15px;margin-top:-2px;}
	#afterfootercopyright {float: right;margin-right:15px;margin-bottom:2px;}
	#mobileMenu_nav_menu {margin-top: 10px; margin-right: 10px; text-align:center;}
	.content_title {font-size: 14px;}
	.content_text {font-size: 12px;}
	#callout_text {font-size: 14px;}
	div.slider-nav span {top: 40%;}
	
	
	#nav {right: 140px; width: 100px;}
}

/* ==========================	For sticky footer =======================================	*/
* {
	margin: 0;
}

html, body {
	height: 100%;
	margin:0px !important;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -233px auto; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push{
	height: 233px;
	clear:both;
}