/*
Default Skin Color settings
*/


/********************************************************************************************************************/
/******************************************** NAVIGATION ************************************************************/
/********************************************************************************************************************/

.navbar .current-menu-ancestor.dropdown > a {
	color: #555;
	text-decoration: none;
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav li a:hover {
	color: #08c;
}
@media (max-width: 979px) {
	.navbar .btn-navbar {
		background-image: none;
		background-color: #08c;
	}
	.navbar .btn-navbar:hover {
		background-image: none;
		background-color: #0284CA;
	}
	.nav-collapse .dropdown-menu .active > a {
		color: #fff;
	}
}

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

article.post, article.page, article.attachment {
  border: 1px solid #ddd;
}
.more-content {
  border: 1px solid #DDD;
}
.comments-area {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

.widget-container {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

#footer-widget-container {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** ELEMENTS **************************************************************/
/********************************************************************************************************************/

/*==================================== CALLOUT ====================================================*/

#callout {
  border: 1px solid #ddd;
}

/*====================================== BOX ======================================================*/

.box {
  border: 1px solid #ddd;
}

/*==================================== CAROUSEL ===================================================*/

.es-carousel-wrapper {
	border: 1px solid #ddd;
}
.carousel_caption {
	margin-top: -21px;
	background: #333;
	background: rgba(0, 0, 0, .6);
	color: #fff;
}
.es-carousel ul li {
	border: 1px solid #ddd;
}

/*==================================== SLIDER =====================================================*/

#slider {
  border: 1px solid #ddd;
}

/*==================================== TWITTER ====================================================*/

#twitter-bar {
  border: 1px solid #ddd;
}

/*=================================== BREADCRUMBS =================================================*/

.breadcrumbs {
  border: 1px solid #ddd;
}

/*================================= RECENT POSTS ==================================================*/

#recent_posts {
	border: 1px solid #DDDDDD;
}

/*==================================== PORTFOLIO ==================================================*/

#gallery {
  border: 1px solid #ddd;
}

#gallery ul.row-fluid li#portfolio_wrap {
  border: 1px solid #ddd;
}

/*==================================== HTML BOX ===================================================*/

#htmlbox {
	border: 1px solid #ddd;
}