/*
Default Skin Color settings
*/

/********************************************************************************************************************/
/******************************************** NAVIGATION ************************************************************/
/********************************************************************************************************************/

.navbar .current-menu-ancestor.dropdown > a {
	color: #555555;
	text-decoration: none;
	background-color: #e5e5e5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav li a:hover {
	color: #0088cc;
}

@media (max-width: 979px) {
	.navbar .btn-navbar {
		background-image: none;
		background-color: #0088cc;
	}

	.navbar .btn-navbar:hover {
		background-image: none;
		background-color: #0284ca;
	}

	.nav-collapse .dropdown-menu .active > a {
		color: #ffffff;
	}
}

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

article.post, article.page, article.attachment {
	border: 1px solid #dddddd;
}

.more-content {
	border: 1px solid #dddddd;
}

.comments-area {
	border: 1px solid #dddddd;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

.widget-container {
	border: 1px solid #dddddd;
}

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

#footer-widget-container {
	border: 1px solid #dddddd;
}

/********************************************************************************************************************/
/******************************************** ELEMENTS **************************************************************/
/********************************************************************************************************************/

/*==================================== CALLOUT ====================================================*/

#callout {
	border: 1px solid #dddddd;
}

/*====================================== BOX ======================================================*/

.box {
	border: 1px solid #dddddd;
}

/*==================================== CAROUSEL ===================================================*/

.es-carousel-wrapper {
	border: 1px solid #dddddd;
}

.carousel_caption {
	margin-top: -21px;
	background: #333333;
	background: rgba(0, 0, 0, .6);
	color: #ffffff;
}

.es-carousel ul li {
	border: 1px solid #dddddd;
}

/*==================================== SLIDER =====================================================*/

#slider {
	border: 1px solid #dddddd;
}

/*==================================== TWITTER ====================================================*/

#twitter-bar {
	border: 1px solid #dddddd;
}

/*=================================== BREADCRUMBS =================================================*/

.breadcrumbs {
	border: 1px solid #dddddd;
}

/*================================= RECENT POSTS ==================================================*/

#recent_posts {
	border: 1px solid #dddddd;
}

/*==================================== PORTFOLIO ==================================================*/

#gallery {
	border: 1px solid #dddddd;
}

#gallery ul.row-fluid li#portfolio_wrap {
	border: 1px solid #dddddd;
}

/*==================================== HTML BOX ===================================================*/

#htmlbox {
	border: 1px solid #dddddd;
}